<%= simple_form_for(@nfi_indication) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :indication_name , error: "indication_name is mandatory"%>
    <%= f.input :data_source_id , error: "data_source_id is mandatory"%>
    <%= f.input :status , error: "status is mandatory"%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
