<p id="notice"><%= notice %></p>

<p>
  <strong>Indication:</strong>
  <%= @nfi_indication.indication_id %>
</p>

<p>
  <strong>Indication name:</strong>
  <%= @nfi_indication.indication_name %>
</p>

<p>
  <strong>Data source data source:</strong>
  <%= @nfi_indication.data_source_data_source_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @nfi_indication.status %>
</p>

<%= link_to 'Edit', edit_nfi_indication_path(@nfi_indication) %> |
<%= link_to 'Back', nfi_indications_path %>
