<%= simple_form_for(@indication) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :indication_name, label: 'Indication', error: 'Please enter an indication' %>
    <%= f.input :data_source_id, label: 'Data Source', error: 'Please select a data source' do %>
      <%= f.select :data_source_id, DataSource.all.map { |r| [r.data_source_name, r.id, { class: "form-control" }] }, {include_blank: true},{:class => 'form-control js-example-basic-multiple'} %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Save" %>
  </div>
<% end %>
