<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @indication.id %>
</p>
<p>
  <strong>Indication:</strong>
  <%= @indication.indication_name %>
</p>

<p>
  <strong>Data Source:</strong>
  <%= DataSource.where("id = ?", @indication.data_source_id).pluck(:data_source_name).first %>
</p>

<p>
  <strong>Status:</strong>
  <%= @indication.status %>
</p>

<%= link_to 'Edit', edit_indication_path(@indication) %> |
<%= link_to 'Back', indications_path %>
