<p id="notice"><%= notice %></p>

<p>
  <strong>Generic package:</strong>
  <%= @generic_package.generic_package_id %>
</p>

<p>
  <strong>Brand name:</strong>
  <%= @generic_package.brand_name_id %>
</p>

<p>
  <strong>Manufacturer manufacturer:</strong>
  <%= @generic_package.manufacturer_manufacturer_id %>
</p>

<p>
  <strong>Dispensible generic:</strong>
  <%= @generic_package.dispensible_generic_id %>
</p>

<p>
  <strong>Package qty:</strong>
  <%= @generic_package.package_qty %>
</p>

<p>
  <strong>Package type:</strong>
  <%= @generic_package.package_type_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @generic_package.price %>
</p>

<p>
  <strong>Generic package text:</strong>
  <%= @generic_package.generic_package_text %>
</p>

<p>
  <strong>Data source data source:</strong>
  <%= @generic_package.data_source_data_source_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @generic_package.status %>
</p>

<%= link_to 'Edit', edit_generic_package_path(@generic_package) %> |
<%= link_to 'Back', generic_packages_path %>
