<p id="notice"><%= notice %></p>

<h1>Ingredients</h1>

<table id="example" class="table table-bordered table-hover table-striped datatable" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Ingredient</th>
      <th>Data Source</th>
      <th>Status</th>
      <th>Action</th>

    </tr>
  </thead>

  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td><%= ingredient.ingredient_name %></td>
        <td><%= DataSource.where("id=?", ingredient.data_source_id).pluck(:data_source_name).first %></td>
        <td><%= ingredient.status %></td>

        <td><%= link_to 'Show', ingredient %>,<%= link_to 'Edit', edit_ingredient_path(ingredient) %>,<%= link_to 'Destroy', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>


      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New', new_ingredient_path %>
