<p id="notice"><%= notice %></p>
<p>
  <strong>ID:</strong>
  <%= @alcohol_interaction_type.id %>
</p>

<p>
  <strong>Display Name:</strong>
  <%= @alcohol_interaction_type.alcohol_interaction_type_name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @alcohol_interaction_type.alcohol_interaction_type_text %>
</p>
<p>
  <strong>Data Source:</strong>
  <!-- <%= @alcohol_interaction_type.data_source_id %> -->
 <%= DataSource.where("id = ?", @alcohol_interaction_type.data_source_id).pluck(:data_source_name).first%>
</p>

<p>
  <strong>Status:</strong>
  <%= @alcohol_interaction_type.status %>
</p>

<%= link_to 'Edit', edit_alcohol_interaction_type_path(@alcohol_interaction_type) %> |
<%= link_to 'Back', alcohol_interaction_types_path %>
