<p id="notice"><%= notice %></p>

<h1>Lactation Advises</h1>

<table id="example" class="table table-bordered table-hover table-striped datatable" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Generic</th>
      <th>Lactation Advise</th>
      <th>Data Source </th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lactations.each do |lactation| %>
      <tr>
        <td><%= Generic.where("id = ?", lactation.generic_id).pluck(:generic_name).first %></td>
        <td><%= lactation.lactation_text %></td>
        <td><%= DataSource.where("id = ?", lactation.data_source_id).pluck(:data_source_name).first %></td>
        <td><%= lactation.status %></td>
        <td><%= link_to 'Show', lactation %></td>
        <td><%= link_to 'Edit', edit_lactation_path(lactation) %></td>
        <td><%= link_to 'Destroy', lactation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New', new_lactation_path %>
