<p id="notice"><%= notice %></p>

<h1>Cities</h1>

<table id="example" class="table table-bordered table-hover table-striped datatable" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Distric name</th>
      <th>District code</th>
      <th>State hasc code</th>
      <th>Country alpha2 code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.distric_name %></td>
        <td><%= city.district_code %></td>
        <td><%= city.state_HASC_code %></td>
        <td><%= city.country_alpha2_code %></td>
        <td><%= link_to 'Show', city %></td>
        <td><%= link_to 'Edit', edit_city_path(city) %></td>
        <td><%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New City', new_city_path %>
