<p id="notice"><%= notice %></p>

<h1>Generic Package Ingredients</h1>

<table id="example" class="table table-bordered table-hover table-striped datatable" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Generic Package</th>
      <th>Ingredient</th>
      <th>Quantity</th>
      <th>Unit</th>
      <th>Data Source</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @generic_package_ingredients.each do |generic_package_ingredient| %>
      <tr>
        <td><%= GenericPackage.where("id = ?", generic_package_ingredient.generic_package_id).pluck(:generic_package_text).first %></td>
        <td><%= Ingredient.where("id = ?", generic_package_ingredient.ingredient_id).pluck(:ingredient_name).first %></td>
        <td><%= generic_package_ingredient.ingredient_qty %></td>
        <td><%= Doseunit.where("id = ?", generic_package_ingredient.doseunit_id).pluck(:doseunit_name).first %></td>
        <td><%= DataSource.where("id = ?", generic_package_ingredient.data_source_id).pluck(:data_source_name).first %></td>
        <td><%= generic_package_ingredient.status %></td>
        <td><%= link_to 'Show', generic_package_ingredient %></td>
        <td><%= link_to 'Edit', edit_generic_package_ingredient_path(generic_package_ingredient) %></td>
        <td><%= link_to 'Destroy', generic_package_ingredient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New', new_generic_package_ingredient_path %>
