<p id="notice"><%= notice %></p>

<h1>Alcohol Interactions</h1>

<table id="example" class="table table-bordered table-hover table-striped datatable" cellspacing="0" width="100%">
  <thead>
    <tr>
      <!-- <th>id</th> -->
      <th>Generic</th>
      <th>Interaction Type</th>
      <th>Data Source</th>
      <th>Active Status</th>

      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @alcohol_interactions.each do |alcohol_interaction| %>
      <tr>
      <!-- <td><%= alcohol_interaction.id%></td> -->
        <!-- <td><%= alcohol_interaction.generic_id%></td> -->
        <td><%= Generic.where("id=?",alcohol_interaction.generic_id).pluck(:generic_name).first%></td>
         <td><%= AlcoholInteractionType.where("id=?", alcohol_interaction.alcohol_interaction_type_id).pluck(:alcohol_interaction_type_name).first%></td>
         <td><%= DataSource.where("id=?", alcohol_interaction.data_source_id).pluck(:data_source_name).first%></td>
         <td><%= alcohol_interaction.status%></td>
        <td><center><%= link_to 'Show', alcohol_interaction %>,<%= link_to 'Edit', edit_alcohol_interaction_path(alcohol_interaction) %>,<%= link_to 'Destroy', alcohol_interaction, method: :delete, data: { confirm: 'Are you sure?' } %></center></td>

      </tr>

    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'Add New', new_alcohol_interaction_path %>
